{% load static %}

<html>
<head>
    <meta charset="UTF-8">                                                                      <!-- help you to write emoji and .... -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                      <!-- Makes html flexible modulation with different devices  -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">                            <!-- icon beside title -->
    <title></title>                                                                             <!-- title of the tab -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
</head>

<body>

    {{ content }}
    <h1>Ahmed Sharaf</h1>
</body>
</html>
