{% load static %}
{% load i18n %}

<html>
<head>
    <meta charset="UTF-8">                                                                      <!-- help you to write emoji and .... -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                      <!-- Makes html flexible modulation with different devices  -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>   <!-- to use icons -->
    <link rel="icon" type="image/png" href="./media/images/favicon.png">                            <!-- icon beside title -->
    <title>{% trans "شركة الفكر الصاعد للمقاولات" %}</title>                                     <!-- title of the tab -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">{% trans "Rising Thought Contracting Company" %}</a>
        <nav class="navbar">
            <a href="#" class="active">{% trans "Home" %}</a>
            <a href="#">{% trans "About Us" %}</a>
            <a href="#">{% trans "Services/activities" %}</a>
            <a href="#">{% trans "Contact Us" %}</a>
            <a href="#">{% trans "Login" %}</a>
            <a href="#">{% trans "الــعربية" %}</a>
        </nav>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>{% trans "Welcome To Our Website" %}</h1>
            <h3>{% trans "Contracting Company (R.T.C.C)" %}</h3>
            <p>{% trans "We are a company specialized in the field of contracting of all kinds, including restoration and general repairs of buildings, residential and non-residential, repair and maintenance of roads and streets, and measured against that, all different types of contracting. Contact us to be close to a solution to the malfunction." %}</p>
            <div class="btn-box">
                <a href="#">{% trans "Hire Me" %}</a>
                <a href="#">{% trans "Let's Talk" %}</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="https://twitter.com/AhmedKh65918043" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/khalifa1999a/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/k.ahmedelgebaly/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ahmed-elgebaly-83707b263/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <span class="home-imgHover"></span>
    </section>
</body>
</html>
